/* font-family: 'Open Sans', sans-serif; */

/* element styles */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #fafafa;
  color: #4a4a4a;
}
h1 {
  padding: 5vw 0;
  margin: auto;
}
h2 {
  padding: 15vw 0;
  font-size: 5vw;
}

li {
  list-style: none;
}

li img {
  width: 85vw;
  height: auto;
}

figcaption {
  font-size: 6vw;
  text-transform: capitalize;
  padding: 8vw 0 3vw 0;
  font-weight: 600;
}
strong {
  margin-left: 3vw;
}

.disp-flex {
  display: flex;
}
.width-90vw {
  width: 90vw;
}
.uppercase {
  text-transform: uppercase;
}
.font-4vw {
  font-size: 4vw;
}
.center-text {
  text-align: center;
}
.no-underline {
  text-decoration: none;
}
.bold-font {
  font-weight: 800;
}
.bio {
  margin: 15vw auto;
}

footer p {
  font-size: 4.5vw;
}
.bio p {
  margin: 10vw 2.5vw 0 2.5vw;
}

.contact-list p {
  padding-bottom: 5vw;
}

footer a {
  color: inherit;
}

.std-paragraph {
  margin: 0 7vw;
  padding-bottom: 10vw;
}

.bio img {
  width: 70vw;
  height: auto;
}

.center-col {
  align-items: center;
  flex-direction: column;
}
.main-nav a {
  width: 100%;
  display: inline-block;
  margin: 1vw 0;
  padding: 2vw 0;
  align-items: center;
  color: inherit;
  background-color: white;
}

.main-nav li {
  text-align: center;
}
#portfolio-section {
  background-color: white;
  padding-bottom: 8vw;
}

#footer-section {
  justify-content: space-between;
  padding: 10vw 5vw;
}

#contact-section h2 {
  margin-top: 2vw;
  margin-bottom: -7vw;
}

.contact-list {
  border-bottom: 1px solid lightgray;
  margin: 0 auto;
  padding-bottom: 20vw;
}
.row {
  overflow: visible;
}

#footer-nav {
  display: none;
}

.flex-center {
  align-content: center;
  flex-direction: column;
}
.figure-text {
  padding-bottom: 10vw;
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: 3vw;
  font-weight: normal;
  padding-top: 1.5vw;
  height: 14vw;
}
@media screen and (min-width: 768px) {
  /* ----- HEADER AREA START -----  */
  h1 {
    padding-bottom: 2vw;
    text-align: center;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
    font-size: 2vw;
  }
  .flex-center {
    flex-direction: row;
  }
  .main-nav li {
    padding: 0 3vw;
  }

  .main-nav a {
    background-color: transparent;
  }

  .header-div {
    display: block;
  }
  /* ----- HEADER AREA END -----  */

  /* ----- BIO AREA START -----  */
  .bio p {
    float: left;
    text-align: left;
    width: 30vw;
    margin: 0;
    width: 50vw;
    font-size: 2.5vw;
  }
  .bio img {
    width: 35vw;
    height: auto;
    float: right;
  }

  .bio {
    margin: 5vw auto 8vw auto;
  }
  /* ----- BIO AREA END -----  */

  h2 {
    font-size: 2vw;
    padding: 7vw;
  }

  figcaption {
    font-size: 2.5vw;
    padding: 3vw 0;
  }
  .std-paragraph {
    margin: 0 auto;
    width: 80%;
    height: 12vw;
    margin-bottom: 3vw;
  }
  figcaption p {
    margin: 0 auto;
    width: 80%;
    height: 12vw;
    margin-bottom: 3vw;
  }

  figure img {
    width: 45.25vw;
  }

  .figure-text {
    padding-bottom: 10vw;
    display: block;
    width: 90%;
    margin: 0 auto;
    font-size: 2vw;
    font-weight: normal;
    padding-top: 1.5vw;
  }

  .portfolio-list li:nth-child(odd) {
    float: left;
    padding-left: 3vw;

    width: 50vw;
  }
  .portfolio-list li:nth-child(even) {
    float: right;
    width: 50vw;

    padding-right: 3vw;
  }

  .back-to-top {
    display: none;
  }
  .bio:after,
  #portfolio-section:after {
    content: "";
    display: table;
    clear: both;
  }
  #portfolio-section {
    padding-bottom: 4vw;
  }

  #contact-section h2 {
    margin-top: 2vw;
    margin-bottom: inherit;
  }

  #contact-section p {
    font-size: 3vw;
  }
  #contact-section ul {
    margin-top: 8vw;
    padding-bottom: 5vw;
  }

  #footer-section nav a {
    padding: 0;
  }
  #footer-section nav ul {
    font-size: 2vw;
    justify-content: flex-end;
    margin-right: -3vw;
  }
  #footer-section {
    padding: 4vw;
    padding-bottom: 10vw;
  }

  footer p {
    font-size: 2.5vw;
    width: 40vw;
  }
  .contact-list p {
    padding-bottom: 3vw;
  }
  #back-to-top {
    display: none;
  }
  #footer-nav {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  /* CLEAR FLOAT-BASED TWO COLLUMN LAYOUT  */
  .portfolio-list li:nth-child(odd) {
    float: none;
    padding-left: 0;
  }
  .portfolio-list li:nth-child(even) {
    float: none;
    padding-right: 0;
  }
  .bio:after {
    content: "";
    display: table;
    clear: both;
  }

  /* MAKE PORTFOLIO CARDS FUN-SIZED  */

  .portfolio-list li:nth-child(odd) {
    width: 29%;
  }
  .portfolio-list li:nth-child(even) {
    width: 29%;
  }
  figure img {
    width: 29vw;
  }

  /* SET UP FLEXBOX CONTAINER  */
  #portfolio-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* SET MARGIN FOR PORT' SECT' LI's  */
  .portfolio-list li {
    margin: 0 1.5vw 2vw 1.5vw;
  }

  /* CLEAN UP THE HEADER */
  #header-section {
    width: 90vw;
    margin: 0 auto;
  }

  .main-nav ul {
    font-size: 1.5vw;
    font-weight: 700;
    justify-content: flex-end;
    margin-right: -1.5vw;
    margin-top: 1.25vw;
    /* align-items: baseline; */
  }

  .main-nav li {
    display: inline-block;
    padding: 0 1.5vw;
  }

  h1 {
    width: 100%;
    display: inline;
  }
  .main-nav a {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: inherit;
  }

  h1 {
    padding: 0;
    font-size: 2.5vw;
    text-align: left;
  }
  .header-div {
    width: 90vw;
    padding-top: 5vw;
    display: flex;
  }
  .bio {
    margin: 5vw auto 5vw auto;
  }
  .bio p {
    font-size: 2.25vw;
  }

  /* portfolio-section  */
  #portfolio-section {
    background-color: transparent;
  }
  #portfolio-section ul {
    background-color: white;
    overflow: visible;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }

  #portfolio-section h2 {
    background-color: white;
    margin: 0 2.5vw;
  }

  .std-paragraph {
    width: 90%;
    margin: 0 auto;
  }

  figcaption {
    font-size: 2vw;
    padding: 2.5vw 0 1.5vw 0vw;
  }

  #contact-section .std-paragraph {
    width: 60%;
    font-size: 2.25vw;
  }

  #contact-section p {
    font-size: 2.25vw;
  }

  #footer-section {
    padding-bottom: 4vw;
  }

  #footer-section nav ul {
    margin-right: 0;
  }
}
