/* check out BEM naming convention */

/* capitalize figcaption
all-caps headers and nav-link text */

/* all-cap 'back to top footer link' */

/* smooth scroll to page sections? */

/* font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #fafafa;
  color: #4a4a4a;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin: vw 0; */
}
h1 {
  padding: 5vw 0;
}
h2 {
  padding: 15vw 0;
  text-transform: uppercase;
  font-size: 5vw;
}
.main-nav {
  width: 90vw;
  /* border: 1px solid black; */
}
.main-nav a {
  /* border: 1px solid red; */
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 1vw 0;
  padding: 2vw 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 4vw;
  color: inherit;
  background-color: white;
}

.bio {
  width: 90vw;
  text-align: center;
  margin: 15vw auto;
}
.bio img {
  width: 70vw;
  height: auto;
  /* margin: 10vw 0; */
}

.bio p {
  margin: 10vw 2.5vw 0 2.5vw;
}

main {
  text-align: center;
}

li {
  list-style: none;
}

li img {
  width: 85vw;
  height: auto;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figcaption {
  font-size: 6vw;
  text-transform: capitalize;
  padding: 8vw 0 3vw 0;
  font-weight: 600;
}

#portfolio-section {
  background-color: white;
  padding-bottom: 8vw;
  /* padding-bottom: 20vw; */
}

.std-paragraph {
  margin: 0 7vw;
  padding-bottom: 10vw;
}
#footer-section {
  display: flex;
  justify-content: space-between;
  padding: 10vw 5vw;
}
footer p {
  font-weight: 800;
  font-size: 4.5vw;
}
#contact-section {
  /* width: 80vw; */
}
#contact-section h2 {
  margin-top: 2vw;
  margin-bottom: -7vw;
  /* margin-left: -10vw; */
}

.contact-list {
  border-bottom: 1px solid black;
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 20vw;
}

.contact-list p {
  padding-bottom: 5vw;
}

footer a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 4vw;
  color: inherit;
}

strong {
  margin-left: 3vw;
}
